@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>
                @Html.DisplayNameFor(model => model.Contact.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Contact.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model.Contacts)
        {
            <tr>
                <td>@contact.Id</td>
                <td>@contact.Name</td>
                <td>@contact.Email</td>
            </tr>
        }
    </tbody>
</table>
List
<ul>
    @foreach (var contact in Model.Contacts)
    {
        <li>@contact.Id</li>
        <li>@contact.Name</li>
        <li>@contact.Email</li>
    }
</ul>